# Practice with Loops

### Using Loops

Ok, let's get started.  Here's a list of countries.

In [1]:
countries = ['united states', 'canada', 'mexico']

1. Begin by printing out each country successively below.

In [1]:
countries = ['united states', 'canada', 'mexico']

# print out the list of countries

> It worked successfully if you see each individual country printed out on a separate line.

2. Now print out the countries but with each word capitalized.  We can use the `title()` method to ensure that each word of a string is capitalized.

In [ ]:
countries = ['united states', 'canada', 'mexico']

### Loops to create new lists

Ok, now that we're warmed up, let's do something more challenging.

In [2]:
characters = ['bart', 'homer', 'marge']

Let's use a loop to capitalize each member of the simpsons, and add each member to a list.

Assign the list of capitalized simpsons to the variable below.

In [5]:
capitalized_characters = None

    
capitalized_characters   
# ['Bart', 'Homer', 'Marge']

Now oftentimes, we use loops to clean up data.  For example, when we saw the NBA salaries a few lessons back, they were a string, when we wanted them to be an integer.  We can convert a string into an integer with the following code.

In [9]:
int('2564753')

2564753

Use a loop to create a list of salaries, with each salary being an integer, and not a string.

In [14]:
string_salaries = ['2564753', '8964700', '6756770']

int_salaries = []


int_salaries
# [2564753, 8964700, 6756770]

[]

In [16]:
# type(int_salaries[0])

# int

### A Coding Tip

Whenever we are looping through data, it can be difficult to keep track of what our different variables represents.  But if we follow the following pattern, it becomes easier.

* Initial list: plural name
* Block variable: singular version of the initial list

So for looping through the list of simpson characters, our code should look like the following:

In [6]:
characters = ['bart', 'homer', 'marge']

capitalized_characters = []

for character in characters:
    cap_character = character.capitalize()
    capitalized_characters.append(cap_character)
    
capitalized_characters

['Bart', 'Homer', 'Marge']

So the pattern we follow above is `for character in characters`.  Because the variable name `characters` is plural, we can properly assume that it's a list.  And because we named the block variable `character`,  we are telling ourselves that `character` is an element of the `characters` list.

Also, notice that we are always choosing a plural name to represent a list -- `capitalized_characters` is a plural variable name as well.  And if we were to loop through this new list, we would choose the block variable name of `capitalized_character`.

In [7]:
for capitalized_character in capitalized_characters:
    print(capitalized_character)

Bart
Homer
Marge

### Summary

In this lessons, we practiced not only looping, but also using loops to map a list of element from one form to another.  Notice that our mapping data always follows the same pattern.



```python

new_list = []
for element in original_list:
    empty_list.append(element.some_change())

new_list
```

As some bonus practice, try it out with one last example of your owns, say call `upper` on all of our restaurants to create a new list.